@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Rock+Salt&display=swap');
#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
    background-color: #f6BDD1;
}
body {
    background-color: #5465FF;
    font-size: 22px;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header {
    background-color: #77F0EA;
}
nav a:hover {
    background-color: #5465FF;
    color: #F6BDD1;
}
.book, .join {
    background-color: #77F0EA;
    color: black;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    font-size: 18px;
}
.card-img {
    border: 10px solid #77F0EA;
}
main section img {
    box-sizing: border-box;
}
.book:hover, .join:hover {
    background-color: #5465FF;
    color: #F6BDD1;
}
.msg {
    background-color: #F6BDD1;
    line-height: 1.5em;
}
footer {
    background-color: #77F0EA;
    margin-top: 200px;
    padding: 25px 50px;
}
.home-title {
    color: black;
    margin-top: 10px;
    font-size: 2em;
  }
  h2 {
    margin: 0;
}
h4 {
    color: white;
}
.msg h2 {
    color: black;
}
.msg p {
    color: black;
    padding-bottom: 15px;
}
footer {
    color: black;
    padding: 25px 50px;
}
footer a {
    color: black;
    text-decoration: none;
}
footer a:hover {
    color: white;
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
#hero-img {
    width: 100%;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}