h1 {
    color: #396E94;
    grid-row: 3;
}

h2 {
    color: #A43312;
}

h3 {
    color: #396E94;
}
h1, h2 {
    height: 400px;
    font-family: 'Permanent Marker', cursive;
    font-size: 90px;
    background-color: lightgray;
}
h3 {
    font-family: 'Rock Salt', cursive;
    font-size: 90px;
    height: 400px;
}
.my {
   width: 100%;
}
.about {
    align-items: center;
    grid-column: 1;
    grid-row: 4;
}
.logo {
    width: 100%;
    height: 100%;
    grid-column: 2;
}
.store {
    border: 50px solid #ddd;
    border-radius: 10px;
    padding: 50px;
    width: 80%;
    height: 80%;
    align-self: center;
    grid-template-columns: 1;
    grid-row: 2;
}
.kid {
    grid-column: 1;
    grid-row: 5;
    height: 80%;
    width: 80%;
    border: 50px solid #ddd;
    border-radius: 10px;
    padding: 50px;
    align-self: center;
}
body {
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
    background-color: burlywood;
}
.main {
    background-color: burlywood;
    text-align: center;
  }
header {
    display: grid;
    grid-template-columns: 1fr 100px;
    background-color: rgb(113, 141, 159);
    padding: 50px;
  }
footer {
    grid-template-columns: 1fr 100px;
}
.charizard {
    width: 90%;
    height: 1000px;
    object-fit: cover;
}
.bama {
    width: 90%;
    height: 925px;
    object-fit: cover;
    justify-self: center;
    padding-top: 50px;
}
.joe {
    width: 1500px;
    height: 925px;
    padding-top: 50px;
}
 .games {
    width: 90%;
    height: 1200px;
    object-fit: cover;
 }
 .subpage {
    background-color: burlywood;
 }
 a {
    font-size: 50px;
    font-weight: 100;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 

}
button {
    background-color: greenyellow;
    height: 250px;
    width: 350px;
    text-decoration: wavy;
    text-decoration-color: aliceblue;
}
nav {
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    grid-row: 1;
}
.product {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.pokemon {
    width: 1800px;
    height: 2000px;
    padding-top: 50px;
}
.comics {
    width: 95%;
    height: 1200px;
    object-fit: cover;
    justify-self: center;
    padding-top: 50px;
 }